<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated basicProperties -->
      <package
            uri="http://www.mdsd.tools/characteristics/valuetype/basicProperties/1.0"
            class="tools.mdsd.characteristics.valuetype.properties.BasicProperties.BasicPropertiesPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated characteristics -->
      <package
            uri="http://www.mdsd.tools/characteristics/manifestation/1.0"
            class="tools.mdsd.characteristics.manifestation.ManifestationPackage"
            genModel="model/characteristics.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated characteristics -->
      <package
            uri="http://www.mdsd.tools/characteristics/binding/1.0"
            class="tools.mdsd.characteristics.binding.InstancePackage"
            genModel="model/characteristics.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated characteristics -->
      <package
            uri="http://www.mdsd.tools/characteristics/characteristic/1.0"
            class="tools.mdsd.characteristics.characteristic.CharacteristicPackage"
            genModel="model/characteristics.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated characteristics -->
      <package
            uri="http://www.mdsd.tools/characteristics/valuetype/1.0"
            class="tools.mdsd.characteristics.valuetype.ValuetypePackage"
            genModel="model/characteristics.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated serviceAPI -->
      <package
            uri="http://www.mdsd.tools/characteristics/api/service/1.0"
            class="org.palladiosimulator.pcm.characteristics.api.service.ServiceAPIPackage"
            genModel="model/serviceAPI.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated api -->
      <package
            uri="http://www.mdsd.tools/characteristics/api/1.0"
            class="tools.mdsd.characteristics.api.ApiPackage"
            genModel="model/api.genmodel"/>
   </extension>

</plugin>
