<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcmzero -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tools.mdsd.characteristics.examples.pcmzero.presentation.PcmzeroModelWizardID"
            name="%_UI_PcmzeroModelWizard_label"
            class="tools.mdsd.characteristics.examples.pcmzero.presentation.PcmzeroModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PcmzeroModelFile.gif">
         <description>%_UI_PcmzeroModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcmzero -->
      <editor
            id="tools.mdsd.characteristics.examples.pcmzero.presentation.PcmzeroEditorID"
            name="%_UI_PcmzeroEditor_label"
            icon="icons/full/obj16/PcmzeroModelFile.gif"
            extensions="pcmzero"
            class="tools.mdsd.characteristics.examples.pcmzero.presentation.PcmzeroEditor"
            contributorClass="tools.mdsd.characteristics.examples.pcmzero.presentation.PcmzeroActionBarContributor">
      </editor>
   </extension>

</plugin>
