<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="tools.mdsd.somde.realm.guicebased.impl.GuiceAwareRealmFactoryImpl"
            uri="http://www.mdsd.tools/characteristics/realm/1.0">
      </factory>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated guicebased -->
      <package
            uri="http://www.mdsd.tools/somde/realm/guicebased/1.0"
            class="tools.mdsd.somde.realm.guicebased.GuiceBasedRealmPackage"
            genModel="model/guicebased.genmodel"/>
   </extension>

</plugin>
