<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated realm -->
      <package
            uri="http://www.mdsd.tools/characteristics/realm/1.0"
            class="tools.mdsd.characteristics.realm.RealmPackage"
            genModel="model/realm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated realm -->
      <parser
            type="realm"
            class="tools.mdsd.characteristics.realm.util.RealmResourceFactoryImpl"/>
   </extension>

</plugin>
