<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated guiceTest -->
      <package
            uri="http://mdsd.tools/somde/Realm/Guicebased/Tests/1.0"
            class="tools.mdsd.somde.realm.guicebased.test.guicetest.GuiceTestPackage"
            genModel="model/guiceTest.genmodel"/>
   </extension>

</plugin>
