<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="tools.mdsd.characteristics Target Platform" sequenceNumber="1">
<locations>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" refresh="true">
        <repository location="http://download.eclipse.org/releases/2019-06/201906191000/"/>
        <unit id="org.eclipse.core.runtime.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.ocl.examples.feature.group" version="0.0.0"/>
    </location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" refresh="true">
        <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20190602212107/repository/"/>
        <unit id="org.aopalliance" version="1.0.0"/>
        <unit id="org.mockito" version="2.23.0"/>
        <unit id="net.bytebuddy.byte-buddy" version="1.9.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.mdsd.tools/thirdparty-library/branches/gradleBuild/"/>
        <unit id="org.apache.aries.spifly.dynamic.feature.feature.group" version="1.2.3"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.mdsd.tools/thirdparty-library/release/"/>
        <unit id="org.apache.aries.spifly.dynamic.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
        <repository location="https://updatesite.mdsd.tools/metamodel-modeling-foundations/nightly/"/>
        <unit id="tools.mdsd.modelingfoundations.identifier.feature.feature.group" version="0.0.0"/>
		<unit id="tools.mdsd.modelingfoundations.identifier.ui.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
        <repository location="https://updatesite.mdsd.tools/metamodel-modeling-foundations/release/"/>
        <unit id="tools.mdsd.modelingfoundations.identifier.feature.feature.group" version="0.0.0"/>
		<unit id="tools.mdsd.modelingfoundations.identifier.ui.feature.feature.group" version="0.0.0"/>
    </location>
</locations>
</target>