<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pcmzero -->
      <package
            uri="http://www.mdsd.tools/characteristics/examples/pcmzero"
            class="tools.mdsd.characteristics.examples.pcmzero.PcmzeroPackage"
            genModel="model/pcmzero.genmodel"/>
   </extension>

</plugin>
