<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated characteristics -->
      <factory
            uri="http://www.mdsd.tools/characteristics/manifestation/1.0"
            class="tools.mdsd.characteristics.manifestation.provider.ManifestationItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated characteristics -->
      <factory
            uri="http://www.mdsd.tools/characteristics/binding/1.0"
            class="tools.mdsd.characteristics.binding.provider.BindingItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated characteristics -->
      <factory
            uri="http://www.mdsd.tools/characteristics/characteristic/1.0"
            class="tools.mdsd.characteristics.characteristic.provider.CharacteristicItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated characteristics -->
      <factory
            uri="http://www.mdsd.tools/characteristics/valuetype/1.0"
            class="tools.mdsd.characteristics.valuetype.provider.ValuetypeItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated editProperties -->
      <package
            uri="http://www.mdsd.tools/characteristics/valuetype/editProperties/1.0"
            class="tools.mdsd.characteristics.edit.valuetype.properties.EditProperties.EditPropertiesPackage"
            genModel="model/editProperties.genmodel"/>
   </extension>

</plugin>
