<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.ui.editors">
      <!-- @generated characteristics -->
      <editor
            id="tools.mdsd.characteristics.api.presentation.ApiEditorID"
            name="%_UI_ApiEditor_label"
            icon="icons/full/obj16/ApiModelFile.gif"
            extensions="api"
            class="tools.mdsd.characteristics.api.presentation.ApiEditor"
            contributorClass="tools.mdsd.characteristics.api.presentation.ApiActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated characteristics -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tools.mdsd.characteristics.manifestation.presentation.ManifestationModelWizardID"
            name="%_UI_ManifestationModelWizard_label"
            class="tools.mdsd.characteristics.manifestation.presentation.ManifestationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ManifestationModelFile.gif">
         <description>%_UI_ManifestationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated characteristics -->
      <editor
            id="tools.mdsd.characteristics.manifestation.presentation.ManifestationEditorID"
            name="%_UI_ManifestationEditor_label"
            icon="icons/full/obj16/ManifestationModelFile.gif"
            extensions="manifestation"
            class="tools.mdsd.characteristics.manifestation.presentation.ManifestationEditor"
            contributorClass="tools.mdsd.characteristics.manifestation.presentation.ManifestationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated characteristics -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tools.mdsd.characteristics.binding.presentation.BindingModelWizardID"
            name="%_UI_BindingModelWizard_label"
            class="tools.mdsd.characteristics.binding.presentation.BindingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BindingModelFile.gif">
         <description>%_UI_BindingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated characteristics -->
      <editor
            id="tools.mdsd.characteristics.binding.presentation.BindingEditorID"
            name="%_UI_BindingEditor_label"
            icon="icons/full/obj16/BindingModelFile.gif"
            extensions="binding"
            class="tools.mdsd.characteristics.binding.presentation.BindingEditor"
            contributorClass="tools.mdsd.characteristics.binding.presentation.BindingActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated characteristics -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tools.mdsd.characteristics.characteristic.presentation.CharacteristicModelWizardID"
            name="%_UI_CharacteristicModelWizard_label"
            class="tools.mdsd.characteristics.characteristic.presentation.CharacteristicModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CharacteristicModelFile.gif">
         <description>%_UI_CharacteristicModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated characteristics -->
      <editor
            id="tools.mdsd.characteristics.characteristic.presentation.CharacteristicEditorID"
            name="%_UI_CharacteristicEditor_label"
            icon="icons/full/obj16/CharacteristicModelFile.gif"
            extensions="characteristic"
            class="tools.mdsd.characteristics.characteristic.presentation.CharacteristicEditor"
            contributorClass="tools.mdsd.characteristics.characteristic.presentation.CharacteristicActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated characteristics -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tools.mdsd.characteristics.valuetype.presentation.ValuetypeModelWizardID"
            name="%_UI_ValuetypeModelWizard_label"
            class="tools.mdsd.characteristics.valuetype.presentation.ValuetypeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ValuetypeModelFile.gif">
         <description>%_UI_ValuetypeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated characteristics -->
      <editor
            id="tools.mdsd.characteristics.valuetype.presentation.ValuetypeEditorID"
            name="%_UI_ValuetypeEditor_label"
            icon="icons/full/obj16/ValuetypeModelFile.gif"
            extensions="valuetype"
            class="tools.mdsd.characteristics.valuetype.presentation.ValuetypeEditor"
            contributorClass="tools.mdsd.characteristics.valuetype.presentation.ValuetypeActionBarContributor">
      </editor>
   </extension>



</plugin>
