<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated guicebased -->
      <factory
            uri="http://www.mdsd.tools/characteristics/realm/guicebased/1.0"
            class="tools.mdsd.characteristics.realm.guicebased.provider.GuiceBasedRealmItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated guicebased -->
      <extender
            uri="http://www.mdsd.tools/characteristics/realm"
            class="tools.mdsd.characteristics.realm.guicebased.provider.GuiceBasedRealmItemProviderAdapterFactory$RealmChildCreationExtender"/>
   </extension>
</plugin>
